.training{
    width: 500px;
    height: 150px;
}
.predict{
    width: 500px;
    height: 80px;
    padding-bottom: 40px;
}
.evaluation{
    width: 500px;
    height: 80px;
}
.load{
    width: 500px;
    height: 80px;
}

.title{
    width: 1000px;
    height: 500px;
    background-color: #991b1b;
    margin: auto;
}

.body{
    background-color: black;
}


